
<script>
    angular.module("MyChatRoom.services").service("data", function () {
        var data = {};
        data.currentUserId = function () {
            return @Session["UserId"];
        };
        data.currentUserName = function () {
            return "@Session["UserName"]";
        };
        return data;
    });
</script>

<div ng-app="MyChatRoom">
    <ui-view></ui-view>
    
</div>
